@model MyMovies.ViewModels.MovieDetailModel;
@{
    ViewBag.Title = "Detail View";
}
<div id="container3">
    <div id="wrapper">
        <!-- SINGLE MOVIE CARD-->
        <div class="single-card">
            <div class="flx">
                <img class="single-card-img" src="@Model.ImageUrl">
                <div class="single-card-genre">
                    <p class='single-card-title'><b></b>Title</p>
                    <h1>@Model.Title</h1>
                    <p><b>Genre</b></p>
                    <h1>@Model.Genre</h1>

                </div>
            </div>
            <div class="single-card-description">
                <p><b>Description</b></p>
                <br>
                <p>@Model.Description</p>
                <br>
                <p style='font-size:12px;'>Created at @Model.Date</p>
                @if (Model.DateModified != null)
                {
                    <p style='font-size:12px;'>Updated at @Model.DateModified</p>
                }
                else
                {
                    <p></p>
                }
            </div>

            <!-- If the user is authenticated can post comment-->
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Comments" asp-action="Add" method="POST" class="comments-form">
                    <input type="text" name="movieId" value="@Model.Id" hidden />
                    <textarea type="text" name="comment" cols="20" rows="5" required></textarea>

                    <button type="submit" class="btn-add-comment">Add Comment</button>
                </form>
            }
            @if (Model.Comments.Count() > 0)
            {
                <!-- Otheriwse show comments-->
                @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated))
                {   
        <div class="comment-div">
            <div class="comment-container"><p class="comment-user">@comment.Username <div class="separator"></div> <span class="comment-date">@comment.DateCreated</span></p></div>
            <p class="comment-message">@comment.Message</p>
            @if (User.FindFirst("Username").Value == comment.Username)
            {
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id"><div class="comment-delete">&times;</div></a>
            }

        </div>
                }

            }
            else
            {
                <p>No Comments</p>
            }




        </div>
        <br>
        <a asp-controller="Home" asp-action="Index" class="btn"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
</div>