<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/style.css" >
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index" class="nolink">
                <i class="fas fa-camera fa-4x clr">&nbsp;</i>
                <p class='logo-para'>MUVICO</p>
            </a>
        </div>
        <div>
            <form action="/Home/Index" method="get" id="search_bar">
                <input type="text" name="Title" value="" class="search_bar_input" placeholder="search by title" />
                <input type="submit" value="Search" class="btn-search" />
            </form>
        </div>

        <div class="menu">
            @if (User.Identity.IsAuthenticated)
            {
               <a asp-controller="Home" asp-action="Create" class="btn">Create</a>
            }
            <a asp-controller="Info" asp-action="About" class="btn">About</a>
            <a asp-controller="Info" asp-action="Contact" class="btn">Contact</a>

        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        <div class="menu">
            <a asp-controller="Home" asp-action="Index" class="header-btn">Home</a>

            @if (User.Identity.IsAuthenticated)
            {

                @if (Convert.ToBoolean(User.FindFirst("IsAdmin").Value))
                {
                    <a asp-controller="Home" asp-action="Create" class="header-btn">Create</a>
                    <a asp-controller="Home" asp-action="Admin" class="header-btn">Admin</a>
                    <a asp-controller="Users" asp-action="Admin" class="header-btn">Users</a>
                }

                <a asp-controller="Auth" asp-action="SignIn" class="header-btn">@User.FindFirst("Username").Value</a>
                <a asp-controller="Users" asp-action="Details" class="header-btn">Profile</a>
                <a asp-controller="Auth" asp-action="SignOut" class="header-btn">Sign out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="header-btn">Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="header-btn">Sign Up</a>
            }

        </div><p>My Movies &copy; 2021 All Rights are reserved.</p>
        @if (ViewBag.SuccessMessage != null)
        {
            <div id="msgbox" class="msgbox">@ViewBag.SuccessMessage<span id="msg_close">&times;</span></div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div id="msgbox" class="msgbox">@ViewBag.ErrorMessage<span id="msg_close">&times;</span></div>
        }

    </div>
    <script type ="text/javascript" src="~/js/messages.js"></script>
    <script src ="~/lib/jquery/dist/jquery.js"></script>
    <script src ="~/js/hidemessages.js"></script>
</body>
</html>
